* {
  box-sizing: border-box; }

html {
  font-size: 12px; }

html, body, ul {
  margin: 0;
  padding: 0; }

.row, .column, .col {
  display: flex; }

.row {
  width: 100%;
  flex-flow: row wrap; }

.xs1 {
  width: 8.3333333333%; }

.xs2 {
  width: 16.6666666667%; }

.xs3 {
  width: 25%; }

.xs4 {
  width: 33.3333333333%; }

.xs5 {
  width: 41.6666666667%; }

.xs6 {
  width: 50%; }

.xs7 {
  width: 58.3333333333%; }

.xs8 {
  width: 66.6666666667%; }

.xs9 {
  width: 75%; }

.xs10 {
  width: 83.3333333333%; }

.xs11 {
  width: 91.6666666667%; }

.xs12 {
  width: 100%; }

@media (min-width: 34em) {
  .s1 {
    width: 8.3333333333%; }
  .s2 {
    width: 16.6666666667%; }
  .s3 {
    width: 25%; }
  .s4 {
    width: 33.3333333333%; }
  .s5 {
    width: 41.6666666667%; }
  .s6 {
    width: 50%; }
  .s7 {
    width: 58.3333333333%; }
  .s8 {
    width: 66.6666666667%; }
  .s9 {
    width: 75%; }
  .s10 {
    width: 83.3333333333%; }
  .s11 {
    width: 91.6666666667%; }
  .s12 {
    width: 100%; } }

@media (min-width: 48em) {
  .m1 {
    width: 8.3333333333%; }
  .m2 {
    width: 16.6666666667%; }
  .m3 {
    width: 25%; }
  .m4 {
    width: 33.3333333333%; }
  .m5 {
    width: 41.6666666667%; }
  .m6 {
    width: 50%; }
  .m7 {
    width: 58.3333333333%; }
  .m8 {
    width: 66.6666666667%; }
  .m9 {
    width: 75%; }
  .m10 {
    width: 83.3333333333%; }
  .m11 {
    width: 91.6666666667%; }
  .m12 {
    width: 100%; } }

@media (min-width: 62em) {
  .l1 {
    width: 8.3333333333%; }
  .l2 {
    width: 16.6666666667%; }
  .l3 {
    width: 25%; }
  .l4 {
    width: 33.3333333333%; }
  .l5 {
    width: 41.6666666667%; }
  .l6 {
    width: 50%; }
  .l7 {
    width: 58.3333333333%; }
  .l8 {
    width: 66.6666666667%; }
  .l9 {
    width: 75%; }
  .l10 {
    width: 83.3333333333%; }
  .l11 {
    width: 91.6666666667%; }
  .l12 {
    width: 100%; } }

@media (min-width: 75em) {
  .xl1 {
    width: 8.3333333333%; }
  .xl2 {
    width: 16.6666666667%; }
  .xl3 {
    width: 25%; }
  .xl4 {
    width: 33.3333333333%; }
  .xl5 {
    width: 41.6666666667%; }
  .xl6 {
    width: 50%; }
  .xl7 {
    width: 58.3333333333%; }
  .xl8 {
    width: 66.6666666667%; }
  .xl9 {
    width: 75%; }
  .xl10 {
    width: 83.3333333333%; }
  .xl11 {
    width: 91.6666666667%; }
  .xl12 {
    width: 100%; } }

.only-xs, .only-s, .only-m, .only-l, .only-xl {
  display: none; }

@media (max-width: 34em) {
  .only-xs {
    display: block; } }

@media (min-width: 34em) and (max-width: 48em) {
  .only-s {
    display: block; } }

@media (min-width: 48em) and (max-width: 62em) {
  .only-m {
    display: block; } }

@media (min-width: 62em) and (max-width: 75em) {
  .only-l {
    display: block; } }

@media (min-width: 75em) {
  .only-xl {
    display: block; } }

@font-face {
  font-family: "now";
  src: url("../font/now/Now-Regular.otf"); }

* {
  font-family: now; }

html {
  color: #333; }

button {
  font-family: now;
  background: none;
  border: 2px solid #b5b5b7;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer; }
  button:hover {
    background-color: #e8edf3; }

a {
  text-decoration: none;
  color: #333; }

a:hover {
  border-bottom: 2px solid #b5b5b7; }

input {
  background: none;
  border: none;
  border-bottom: 2px solid #b5b5b7;
  padding: 2px;
  text-align: center; }

.col {
  justify-content: center; }

button {
  margin-top: 1em; }
