@font-face {
      font-family: "now";
      src: url("../font/now/Now-Regular.otf");
}

$font-color: #333;

$border-color: #b5b5b7;
$border-width: 2px;

* {
  font-family: now;
}

html {
    color: $font-color;
}


button {
  font-family: now;
  background: none;
  border: $border-width solid $border-color;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: #e8edf3;
  }

}

a {
  text-decoration: none;
  color: $font-color;
}

a:hover {
  border-bottom: $border-width solid $border-color;
}


input {
  background: none;
  border: none;
  border-bottom: $border-width solid $border-color;
  padding: 2px;
  text-align: center;
}
